/*header*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  border-top: 1px solid black;
}

.header__logo {
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 20px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial, sans-serif;
  font-size: 18px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 20px 0;
}

.header__all:visited {
  color: black;
}

.header__all:hover {
  text-decoration: underline;
}

.header__selected {
  margin-left: 20px;
}

.header__selected:visited {
  color: black;
}

.header__selected:hover {
  text-decoration: underline;
}

/*footer*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px 0;
  margin-top: 10px;
  font-family: Arial, sans-serif;
}

/*main page with news list*/
.news__container {
  width: 1140px;
  margin: 0 auto;
}

.news__item {
  border-bottom: 5px solid #000;
  padding: 20px 0;
}

.news__item:hover {
  cursor: pointer;
  opacity: 0.7;
}

.item__header {
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 25px;
}

.item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item__image {
  width: 150px;
  height: 100px;
  margin-right: 20px;
}

.item__description {
  font-family: Arial, sans-serif;
  font-size: 18px;
}

/*single news page*/
.news__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page__back-btn {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: white;
  background-color: #A9A9A9;
  width: 100px;
  height: 40px;
  border-radius: 2px;
  margin-bottom: 20px;
}

.page__back-btn:hover {
  opacity: 0.7;
}

.page__header {
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 40px;
}

.page__image {
  width: 400px;
  height: 250px;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
}

.page__text {
  font-family: Arial, sans-serif;
  font-size: 24px;
}
